In [7]:
# NAICS codes downloaded 7/2/21 from https://gist.githubusercontent.com/kinlane/8ac0f808fe5f2e16be5b4273ed8d8667/raw/368ea0e1e2c6df3da7b693fd9f14e32320dc6daa/naics-codes.csv
# PPP data downloaded 6/30/21 from https://data.sba.gov/dataset/ppp-foia

In [6]:
# append the three files with projects located in Erie County, NY
# the new file will be called ppp_combined_files.csv

import pandas as pd
df_150k_plus = pd.read_csv("/Users/marypasciak/Documents/PPP data/only_erie_ppp/public_150k_plus.csv")
df_up_to_150k_8 = pd.read_csv("/Users/marypasciak/Documents/PPP data/only_erie_ppp/public_up_to_150k_8.csv")
df_up_to_150k_9 = pd.read_csv("/Users/marypasciak/Documents/PPP data/only_erie_ppp/public_up_to_150k_9.csv")

pd.concat([df_150k_plus, df_up_to_150k_8, df_up_to_150k_9]).to_csv('ppp_combined_files.csv', index=False)

In [8]:
df = pd.read_csv("ppp_combined_files.csv")
df

,LoanNumber,DateApproved,SBAOfficeCode,ProcessingMethod,BorrowerName,BorrowerAddress,BorrowerCity,BorrowerState,BorrowerZip,LoanStatusDate,...,BusinessType,OriginatingLenderLocationID,OriginatingLender,OriginatingLenderCity,OriginatingLenderState,Gender,Veteran,NonProfit,ForgivenessAmount,ForgivenessDate
0,9547507704,05/01/2020,464,PPP,"SUMTER COATINGS, INC.",2410 Highway 15 South,Sumter,NaN,29150-9662,12/18/2020,...,Corporation,19248,Synovus Bank,COLUMBUS,GA,Unanswered,Unanswered,NaN,773553.37,11/20/2020
1,9777677704,05/01/2020,464,PPP,"PLEASANT PLACES, INC.",7684 Southrail Road,North Charleston,NaN,29420-9000,0,...,Sole Proprietorship,19248,Synovus Bank,COLUMBUS,GA,Male Owned,Non-Veteran,NaN,0.00,NaN
2,5791407702,05/01/2020,1013,PPP,BOYER CHILDREN'S CLINIC,1850 BOYER AVE E,SEATTLE,NaN,98112-2922,03/17/2021,...,Non-Profit Organization,9551,"Bank of America, National Association",CHARLOTTE,NC,Unanswered,Unanswered,Y,696677.49,02/10/2021
3,6223567700,05/01/2020,920,PPP,KIRTLEY CONSTRUCTION INC,1661 MARTIN RANCH RD,SAN BERNARDINO,NaN,92407-1740,0,...,Corporation,9551,"Bank of America, National Association",CHARLOTTE,NC,Unanswered,Unanswered,NaN,0.00,NaN
4,9662437702,05/01/2020,101,PPP,AERO BOX LLC,NaN,NaN,NaN,NaN,0,...,NaN,57328,The Huntington National Bank,COLUMBUS,OH,Unanswered,Unanswered,NaN,370819.35,04/08/2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2770382,8001238706,04/07/2021,593,PPP,CHRISTOPHER SNIDER,5810 State Route 13 NE,Somerset,OH,43783-9747,0,...,Sole Proprietorship,57448,North Valley Bank,ZANESVILLE,OH,Male Owned,Non-Veteran,NaN,0.00,NaN
2770383,3984708408,02/05/2021,593,PPS,IT'S YOGA CINCINNATI,346 Ludlow Ave,Cincinnati,OH,45220-2019,0,...,Limited Liability Company(LLC),53803,"U.S. Bank, National Association",CINCINNATI,OH,Female Owned,Non-Veteran,NaN,0.00,NaN
2770384,7915388609,03/24/2021,593,PPP,BARRY MORRIS,15333 Bay Rd,Wapakoneta,OH,45895-9531,0,...,Sole Proprietorship,58036,Fifth Third Bank,CINCINNATI,OH,Male Owned,Non-Veteran,NaN,0.00,NaN
2770385,5183778809,04/17/2021,593,PPP,ROBIN MANRING,33 S Lexington Springmill Rd,Ontario,OH,44906-1325,0,...,Sole Proprietorship,59954,CNB Bank,CLEARFIELD,PA,Female Owned,Non-Veteran,NaN,0.00,NaN
2770386,1574078200,07/30/2020,549,PPP,KIMBERLY & COMPANY,385 Hampshire Road,Akron,OH,44313,0,...,Limited Liability Company(LLC),529253,"Fundbox, Inc.",San Francisco,CA,Unanswered,Unanswered,NaN,0.00,NaN

In [11]:
df.dtypes

LoanNumber                       int64
DateApproved                    object
SBAOfficeCode                    int64
ProcessingMethod                object
BorrowerName                    object
BorrowerAddress                 object
BorrowerCity                    object
BorrowerState                   object
BorrowerZip                     object
LoanStatusDate                  object
LoanStatus                      object
Term                             int64
SBAGuarantyPercentage            int64
InitialApprovalAmount          float64
CurrentApprovalAmount          float64
UndisbursedAmount              float64
FranchiseName                   object
ServicingLenderLocationID        int64
ServicingLenderName             object
ServicingLenderAddress          object
ServicingLenderCity             object
ServicingLenderState            object
ServicingLenderZip              object
RuralUrbanIndicator             object
HubzoneIndicator                object
LMIIndicator                    object
BusinessAgeDescription          object
ProjectCity                     object
ProjectCountyName               object
ProjectState                    object
ProjectZip                      object
CD                              object
JobsReported                     int64
NAICSCode                      float64
Race                            object
Ethnicity                       object
UTILITIES_PROCEED              float64
PAYROLL_PROCEED                float64
MORTGAGE_INTEREST_PROCEED      float64
RENT_PROCEED                   float64
REFINANCE_EIDL_PROCEED         float64
HEALTH_CARE_PROCEED            float64
DEBT_INTEREST_PROCEED          float64
BusinessType                    object
OriginatingLenderLocationID      int64
OriginatingLender               object
OriginatingLenderCity           object
OriginatingLenderState          object
Gender                          object
Veteran                         object
NonProfit                       object
ForgivenessAmount              float64
ForgivenessDate                 object
dtype: object

In [12]:
# find the number of loans in each state

df.ProjectState.value_counts()

# NY has 759,380 loans

NY    759380
NJ    308728
OH    301094
NC    246306
CA    131008
NV    124080
NE    114759
TX     76309
FL     60430
ND     51755
NM     41847
NH     41253
IL     40854
PA     38586
MI     29844
MA     27482
GA     25987
WA     23781
VA     23312
CO     19760
MN     19739
MD     19020
WI     17361
IN     16628
MO     16359
TN     15896
AZ     15817
LA     13694
OR     13463
CT     12902
AL     10927
SC     10771
OK     10001
UT      9305
KY      9178
IA      8306
KS      8204
AR      5863
MS      5516
HI      4982
ID      4425
DC      4411
ME      4188
RI      3793
WV      3366
MT      3146
DE      2996
PR      2948
SD      2698
AK      2665
VT      2269
WY      2146
GU       444
VI       291
MP        84
AS        20
Name: ProjectState, dtype: int64

In [13]:
# extract only the loans in NYS

df[df.ProjectState == 'NY']

,LoanNumber,DateApproved,SBAOfficeCode,ProcessingMethod,BorrowerName,BorrowerAddress,BorrowerCity,BorrowerState,BorrowerZip,LoanStatusDate,...,BusinessType,OriginatingLenderLocationID,OriginatingLender,OriginatingLenderCity,OriginatingLenderState,Gender,Veteran,NonProfit,ForgivenessAmount,ForgivenessDate
422842,6144377007,04/06/2020,202,PPP,GRAVITY GOLDBERG LLC,2 Elis Circle,ORLEANS,MA,02653-2215,05/12/2021,...,Limited Liability Company(LLC),15793,"People's United Bank, National Association",BRIDGEPORT,CT,Unanswered,Unanswered,NaN,179270.14,04/23/2021
571197,2780167104,04/11/2020,235,PPP,SCNJ HOTEL LLC,401 S Van Brunt St,ENGLEWOOD,NJ,07631-4604,0,...,Limited Liability Company(LLC),453112,Savoy Bank,NEW YORK CITY,NY,Male Owned,Non-Veteran,NaN,0.00,NaN
607196,1009208907,04/24/2021,202,PPP,THE CENTER FOR DISCOVERY INC.,641 Old Route 17,Monticello,NY,12701-7014,0,...,501(c)3 – Non Profit,29805,"TD Bank, National Association",WILMINGTON,DE,Unanswered,Unanswered,Y,0.00,NaN
607197,1029567410,05/03/2020,202,PPP,"BEDDING ACQUISITION, LLC",60 EAST 42ND ST SUITE 1250,NEW YORK,NY,10165-1299,0,...,Limited Liability Company(LLC),119918,East West Bank,PASADENA,CA,Unanswered,Unanswered,NaN,0.00,NaN
607198,1040387100,04/09/2020,202,PPP,P A L ENVIRONMENTAL SAFETY CORP,1102 QUEENS PLZ S,LONG ISLAND CITY,NY,11101-4908,0,...,Corporation,378617,"HSBC Bank USA, National Association",MCLEAN,VA,Unanswered,Unanswered,NaN,0.00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2501960,3353087703,05/01/2020,202,PPP,CARLOS GUAMAN,4872 37th st 2 fl,Long Island city,NY,11101,0,...,Self-Employed Individuals,223542,Celtic Bank Corporation,SALT LAKE CITY,UT,Unanswered,Unanswered,NaN,0.00,NaN
2501961,2806897905,06/12/2020,202,PPP,ALLISON ZAMORA CONSULTING LLC,300 EAST 40TH STREET APT 8X,NEW YORK,NY,10016-0298,11/30/2020,...,Sole Proprietorship,12096,"Wells Fargo Bank, National Association",SIOUX FALLS,SD,Unanswered,Unanswered,NaN,0.00,NaN
2501962,5690137400,05/12/2020,248,PPP,TRACI COLLINS,8349 South Main Street,CICERO,NY,13039-8534,0,...,Sole Proprietorship,223542,Celtic Bank Corporation,SALT LAKE CITY,UT,Unanswered,Unanswered,NaN,0.00,NaN
2501963,1667788603,03/13/2021,202,PPP,JOSE ASAEL REYES RUMALDO,85th Road,HOLLIS,NY,11423,0,...,Sole Proprietorship,58771,Legacy Bank,HINTON,OK,Unanswered,Unanswered,NaN,0.00,NaN
2501964,3812177303,04/29/2020,219,PPP,"NH ARCHITECTURE, P.C.",2099 West Ridge Road,ROCHESTER,NY,14626,10/16/2020,...,Corporation,112131,Genesee Regional Bank,ROCHESTER,NY,Male Owned,Non-Veteran,NaN,0.00,NaN

In [17]:
# select only the columns that I want:

df[['LoanNumber','DateApproved','ProcessingMethod', \
    'BorrowerName','BorrowerAddress','BorrowerCity', 'BorrowerState','BorrowerZip', \
    'LoanStatusDate','LoanStatus','Term', \
    'InitialApprovalAmount','CurrentApprovalAmount','UndisbursedAmount', \
    'FranchiseName','LMIIndicator', \
    'ProjectCity','ProjectCountyName','ProjectState','ProjectZip', \
    'JobsReported','NAICSCode', \
    'UTILITIES_PROCEED','PAYROLL_PROCEED','MORTGAGE_INTEREST_PROCEED', \
    'RENT_PROCEED','REFINANCE_EIDL_PROCEED','HEALTH_CARE_PROCEED', \
    'DEBT_INTEREST_PROCEED', \
    'NonProfit','ForgivenessAmount','ForgivenessDate']]

,LoanNumber,DateApproved,ProcessingMethod,BorrowerName,BorrowerAddress,BorrowerCity,BorrowerState,BorrowerZip,LoanStatusDate,LoanStatus,...,UTILITIES_PROCEED,PAYROLL_PROCEED,MORTGAGE_INTEREST_PROCEED,RENT_PROCEED,REFINANCE_EIDL_PROCEED,HEALTH_CARE_PROCEED,DEBT_INTEREST_PROCEED,NonProfit,ForgivenessAmount,ForgivenessDate
0,9547507704,05/01/2020,PPP,"SUMTER COATINGS, INC.",2410 Highway 15 South,Sumter,NaN,29150-9662,12/18/2020,Paid in Full,...,0.0,769358.78,0.0,0.0,0.0,0.0,0.0,NaN,773553.37,11/20/2020
1,9777677704,05/01/2020,PPP,"PLEASANT PLACES, INC.",7684 Southrail Road,North Charleston,NaN,29420-9000,0,Exemption 4,...,0.0,736927.79,0.0,0.0,0.0,0.0,0.0,NaN,0.00,NaN
2,5791407702,05/01/2020,PPP,BOYER CHILDREN'S CLINIC,1850 BOYER AVE E,SEATTLE,NaN,98112-2922,03/17/2021,Paid in Full,...,0.0,691355.00,0.0,0.0,0.0,0.0,0.0,Y,696677.49,02/10/2021
3,6223567700,05/01/2020,PPP,KIRTLEY CONSTRUCTION INC,1661 MARTIN RANCH RD,SAN BERNARDINO,NaN,92407-1740,0,Exemption 4,...,0.0,499871.00,0.0,0.0,0.0,0.0,0.0,NaN,0.00,NaN
4,9662437702,05/01/2020,PPP,AERO BOX LLC,NaN,NaN,NaN,NaN,0,Exemption 4,...,0.0,367437.00,0.0,0.0,0.0,0.0,0.0,NaN,370819.35,04/08/2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2770382,8001238706,04/07/2021,PPP,CHRISTOPHER SNIDER,5810 State Route 13 NE,Somerset,OH,43783-9747,0,Exemption 4,...,1.0,7837.57,0.0,0.0,0.0,0.0,0.0,NaN,0.00,NaN
2770383,3984708408,02/05/2021,PPS,IT'S YOGA CINCINNATI,346 Ludlow Ave,Cincinnati,OH,45220-2019,0,Exemption 4,...,1.0,7836.00,0.0,0.0,0.0,0.0,0.0,NaN,0.00,NaN
2770384,7915388609,03/24/2021,PPP,BARRY MORRIS,15333 Bay Rd,Wapakoneta,OH,45895-9531,0,Exemption 4,...,0.0,7839.00,0.0,0.0,0.0,0.0,0.0,NaN,0.00,NaN
2770385,5183778809,04/17/2021,PPP,ROBIN MANRING,33 S Lexington Springmill Rd,Ontario,OH,44906-1325,0,Exemption 4,...,0.0,7837.70,0.0,0.0,0.0,0.0,0.0,NaN,0.00,NaN
2770386,1574078200,07/30/2020,PPP,KIMBERLY & COMPANY,385 Hampshire Road,Akron,OH,44313,0,Exemption 4,...,0.0,7837.50,0.0,0.0,0.0,0.0,0.0,NaN,0.00,NaN

In [28]:
# create a new dataframe using only the relevant columns
# call it df_relevant

df_relevant = df[['LoanNumber','DateApproved','ProcessingMethod', \
    'BorrowerName','BorrowerAddress','BorrowerCity', 'BorrowerState','BorrowerZip', \
    'LoanStatusDate','LoanStatus','Term', \
    'InitialApprovalAmount','CurrentApprovalAmount','UndisbursedAmount', \
    'FranchiseName','LMIIndicator', \
    'ProjectCity','ProjectCountyName','ProjectState','ProjectZip', \
    'JobsReported','NAICSCode', \
    'UTILITIES_PROCEED','PAYROLL_PROCEED','MORTGAGE_INTEREST_PROCEED', \
    'RENT_PROCEED','REFINANCE_EIDL_PROCEED','HEALTH_CARE_PROCEED', \
    'DEBT_INTEREST_PROCEED', \
    'NonProfit','ForgivenessAmount','ForgivenessDate']]
df_relevant.head(2)

,LoanNumber,DateApproved,ProcessingMethod,BorrowerName,BorrowerAddress,BorrowerCity,BorrowerState,BorrowerZip,LoanStatusDate,LoanStatus,...,UTILITIES_PROCEED,PAYROLL_PROCEED,MORTGAGE_INTEREST_PROCEED,RENT_PROCEED,REFINANCE_EIDL_PROCEED,HEALTH_CARE_PROCEED,DEBT_INTEREST_PROCEED,NonProfit,ForgivenessAmount,ForgivenessDate
0,9547507704,05/01/2020,PPP,"SUMTER COATINGS, INC.",2410 Highway 15 South,Sumter,NaN,29150-9662,12/18/2020,Paid in Full,...,0.0,769358.78,0.0,0.0,0.0,0.0,0.0,NaN,773553.37,11/20/2020
1,9777677704,05/01/2020,PPP,"PLEASANT PLACES, INC.",7684 Southrail Road,North Charleston,NaN,29420-9000,0,Exemption 4,...,0.0,736927.79,0.0,0.0,0.0,0.0,0.0,NaN,0.00,NaN

In [29]:
# extract only the loans for projects located in NYS

df_relevant[df_relevant.ProjectState == 'NY']
df_nys = df_relevant[df_relevant.ProjectState == 'NY']
df_nys.head(2)

,LoanNumber,DateApproved,ProcessingMethod,BorrowerName,BorrowerAddress,BorrowerCity,BorrowerState,BorrowerZip,LoanStatusDate,LoanStatus,...,UTILITIES_PROCEED,PAYROLL_PROCEED,MORTGAGE_INTEREST_PROCEED,RENT_PROCEED,REFINANCE_EIDL_PROCEED,HEALTH_CARE_PROCEED,DEBT_INTEREST_PROCEED,NonProfit,ForgivenessAmount,ForgivenessDate
422842,6144377007,04/06/2020,PPP,GRAVITY GOLDBERG LLC,2 Elis Circle,ORLEANS,MA,02653-2215,05/12/2021,Paid in Full,...,0.0,177500.0,0.0,0.0,0.0,0.0,0.0,NaN,179270.14,04/23/2021
571197,2780167104,04/11/2020,PPP,SCNJ HOTEL LLC,401 S Van Brunt St,ENGLEWOOD,NJ,07631-4604,0,Exemption 4,...,0.0,493523.9,0.0,0.0,0.0,0.0,0.0,NaN,0.00,NaN

In [31]:
# extract only the loans with a ProjectCountyName of ERIE
# call this df_erie

df_erie = df_nys[df_nys.ProjectCountyName == 'ERIE']
df_erie.head(2)

,LoanNumber,DateApproved,ProcessingMethod,BorrowerName,BorrowerAddress,BorrowerCity,BorrowerState,BorrowerZip,LoanStatusDate,LoanStatus,...,UTILITIES_PROCEED,PAYROLL_PROCEED,MORTGAGE_INTEREST_PROCEED,RENT_PROCEED,REFINANCE_EIDL_PROCEED,HEALTH_CARE_PROCEED,DEBT_INTEREST_PROCEED,NonProfit,ForgivenessAmount,ForgivenessDate
607204,1444897107,04/10/2020,PPP,"FERGUSON ELECTRIC CONSTRUCTION CO., INC.",333 ellicott street,BUFFALO,NY,14203-1618,0,Exemption 4,...,0.0,10000000.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN
607246,5358817107,04/13/2020,PPP,"BUFFALO MEDICAL GROUP, P.C.",325 Essjay Road,BUFFALO,NY,14221-5761,0,Exemption 4,...,0.0,10000000.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN

In [32]:
# export df_erie to a .csv file

df_erie.to_csv(r'df_erie.csv')

In [33]:
# how many different NAICSCodes are there in Erie County?

unique_value = df_erie["NAICSCode"].nunique()
print(unique_value)

849

In [35]:
# How many loans were granted to each NAICSCode in Erie County?

df_loans_per_NAICS_erie = df_erie.groupby('NAICSCode').NAICSCode.count()
df_loans_per_NAICS_erie.head(2)

NAICSCode
111110.0    8
111120.0    1
Name: NAICSCode, dtype: int64

In [36]:
# create a .csv file of the number of loans granted to each NAICSCode in Erie County
# df.to_csv(r'Path where you want to store the exported CSV file\File Name.csv', index = False)

df_loans_per_NAICS_erie.to_csv(r'df_loans_per_NAICS_erie.csv')

In [59]:
# Aggregate multiple columns at once

# Total number of loans to each NAICSCode in Erie County? count
# Total number of JobsReported to each NAICSCode in Erie County? sum
# Total InitialApprovalAmount loaned to each NAICSCode in Erie County? sum
# Total ForgivenessAmount to each NAICSCode in Erie County? sum

grouped_df_erie = df_erie.groupby("NAICSCode")

function_dict = {
    "ProjectCountyName": "count",
    "JobsReported": "sum",
    "CurrentApprovalAmount": "sum",
    "ForgivenessAmount": "sum",
    "PAYROLL_PROCEED": "sum"
}

grouped_df_erie = grouped_df_erie.aggregate(function_dict)

print(grouped_df_erie)

           ProjectCountyName  JobsReported  CurrentApprovalAmount  \
NAICSCode
111110.0                   8            25              182277.00
111120.0                   1             1                1600.00
111130.0                   1             1               20832.00
111140.0                   2             2                4416.00
111150.0                   7            25              316649.16
...                      ...           ...                    ...
926130.0                   1            10               93300.00
926140.0                   2             2               26500.00
926150.0                   3            11               94452.00
928120.0                   1             1               28157.00
999990.0                  83           577             3800028.38

           ForgivenessAmount  PAYROLL_PROCEED
NAICSCode
111110.0            84695.56        182265.00
111120.0                0.00          1600.00
111130.0                0.00         20827.00
111140.0                0.00          4416.00
111150.0           187664.44        297187.16
...                      ...              ...
926130.0            93808.68         93300.00
926140.0            18017.70         22597.00
926150.0                0.00         94448.00
928120.0                0.00         28156.00
999990.0          1656819.66       3733560.92

[849 rows x 5 columns]

In [60]:
# export to .csv file

grouped_df_erie.to_csv(r'grouped_df_erie.csv')

In [61]:
# read in naics-codes.csv

#df = pd.read_csv("public_150k_plus.csv")
#df

df_naics_codes = pd.read_csv("naics-codes.csv")
df_naics_codes.head(2)

   111110                   Soybean Farming
0  111120  Oilseed (except Soybean) Farming
1  111130          Dry Pea and Bean Farming

In [62]:
# create a row at the top of df_naics_codes for column headers

df_naics_codes.columns = ['NAICSCode','business_type'] 
df_naics_codes.head(3)

   NAICSCode                     business_type
0     111120  Oilseed (except Soybean) Farming
1     111130          Dry Pea and Bean Farming
2     111140                     Wheat Farming

In [63]:
df_naics_codes.dtypes

NAICSCode         int64
business_type    object
dtype: object

In [64]:
# in original df, the datatype of NAICSCode was float64

# need to change the datatype of NAICS_code column in df_naics_codes to float
#    so that it matches the datatype of  NAICSCode column in df_erie

df_naics_codes.NAICSCode = df_naics_codes.NAICSCode.astype(float)
df_naics_codes.dtypes

NAICSCode        float64
business_type     object
dtype: object

In [65]:
# join df_erie_aggregated on NAICSCode to df_naics_codes on NAICSCode 
# create a new df of this called df_erie_naics_agg

df_erie_naics_agg=pd.merge(
    grouped_df_erie,
    df_naics_codes,
    on='NAICSCode')

df_erie_naics_agg

,NAICSCode,ProjectCountyName,JobsReported,CurrentApprovalAmount,ForgivenessAmount,PAYROLL_PROCEED,business_type
0,111120.0,1,1,1600.00,0.00,1600.00,Oilseed (except Soybean) Farming
1,111130.0,1,1,20832.00,0.00,20827.00,Dry Pea and Bean Farming
2,111140.0,2,2,4416.00,0.00,4416.00,Wheat Farming
3,111150.0,7,25,316649.16,187664.44,297187.16,Corn Farming
4,111160.0,2,2,31582.00,0.00,31582.00,Rice Farming
...,...,...,...,...,...,...,...
842,926120.0,1,1,14710.00,0.00,14706.00,Regulation and Administration of Transportatio...
843,926130.0,1,10,93300.00,93808.68,93300.00,Regulation and Administration of Communication...
844,926140.0,2,2,26500.00,18017.70,22597.00,Regulation of Agricultural Marketing and Commo...
845,926150.0,3,11,94452.00,0.00,94448.00,"Regulation, Licensing, and Inspection of Misce..."
846,928120.0,1,1,28157.00,0.00,28156.00,International Affairs

In [51]:
# export to a .csv file

df_erie_naics_agg.to_csv(r'df_erie_naics_agg.csv')

In [71]:
# Which business types in Erie County received the most loans?

df_erie_naics_agg.sort_values(by='ProjectCountyName',ascending=False).head(10)

,NAICSCode,ProjectCountyName,JobsReported,CurrentApprovalAmount,ForgivenessAmount,PAYROLL_PROCEED,business_type
780,722511.0,1212,28605,1.403384e+08,30082178.47,1.343792e+08,Full-Service Restaurants
803,812112.0,895,3002,1.953665e+07,3470791.63,1.875304e+07,Beauty Salons
604,541110.0,718,6122,8.587816e+07,36651432.90,8.120408e+07,Offices of Lawyers
499,485310.0,609,700,7.295810e+06,388605.34,7.260488e+06,Taxi Service
710,621111.0,509,10818,1.289638e+08,48940768.73,1.178157e+08,Offices of Physicians (except Mental Health Sp...
712,621210.0,429,5180,4.341006e+07,16105634.16,4.085480e+07,Offices of Dentists
781,722513.0,428,11395,5.039988e+07,16560256.10,4.468884e+07,Limited-Service Restaurants
586,531210.0,420,1380,1.490933e+07,5473583.39,1.371749e+07,Offices of Real Estate Agents and Brokers
57,236118.0,400,1983,1.659584e+07,4990534.51,1.579117e+07,Residential Remodelers
816,813110.0,392,4584,2.553234e+07,12736983.31,2.395621e+07,Religious Organizations

In [72]:
# Which business types in Erie County received the largest total CurrentApprovalAmount?

df_erie_naics_agg.sort_values(by='CurrentApprovalAmount',ascending=False).head(10)

,NAICSCode,ProjectCountyName,JobsReported,CurrentApprovalAmount,ForgivenessAmount,PAYROLL_PROCEED,business_type
780,722511.0,1212,28605,1.403384e+08,30082178.47,1.343792e+08,Full-Service Restaurants
710,621111.0,509,10818,1.289638e+08,48940768.73,1.178157e+08,Offices of Physicians (except Mental Health Sp...
604,541110.0,718,6122,8.587816e+07,36651432.90,8.120408e+07,Offices of Lawyers
414,441110.0,78,5504,6.068511e+07,12929556.75,5.107645e+07,New Car Dealers
781,722513.0,428,11395,5.039988e+07,16560256.10,4.468884e+07,Limited-Service Restaurants
75,238220.0,268,3210,4.608750e+07,19559346.05,4.294261e+07,"Plumbing, Heating, and Air-Conditioning Contra..."
732,623110.0,46,5564,4.351978e+07,4192683.87,3.882140e+07,Nursing Care Facilities (Skilled Nursing Facil...
712,621210.0,429,5180,4.341006e+07,16105634.16,4.085480e+07,Offices of Dentists
74,238210.0,186,2739,3.820728e+07,8849174.97,3.656231e+07,Electrical Contractors and Other Wiring Instal...
59,236220.0,200,2968,3.770140e+07,10960459.15,3.631653e+07,Commercial and Institutional Building Construc...

In [73]:
# Which business types in Erie County received money for the most JobsReported?

df_erie_naics_agg.sort_values(by='JobsReported',ascending=False).head(10)

,NAICSCode,ProjectCountyName,JobsReported,CurrentApprovalAmount,ForgivenessAmount,PAYROLL_PROCEED,business_type
780,722511.0,1212,28605,1.403384e+08,30082178.47,1.343792e+08,Full-Service Restaurants
781,722513.0,428,11395,5.039988e+07,16560256.10,4.468884e+07,Limited-Service Restaurants
710,621111.0,509,10818,1.289638e+08,48940768.73,1.178157e+08,Offices of Physicians (except Mental Health Sp...
604,541110.0,718,6122,8.587816e+07,36651432.90,8.120408e+07,Offices of Lawyers
732,623110.0,46,5564,4.351978e+07,4192683.87,3.882140e+07,Nursing Care Facilities (Skilled Nursing Facil...
414,441110.0,78,5504,6.068511e+07,12929556.75,5.107645e+07,New Car Dealers
770,721110.0,192,5188,3.480700e+07,7390320.00,3.323516e+07,Hotels (except Casino Hotels) and Motels
712,621210.0,429,5180,4.341006e+07,16105634.16,4.085480e+07,Offices of Dentists
816,813110.0,392,4584,2.553234e+07,12736983.31,2.395621e+07,Religious Organizations
693,611110.0,69,4039,3.412537e+07,18054710.13,3.048505e+07,Elementary and Secondary Schools

In [82]:
# Which business types in Erie County had the greatest percent of their CurrentApprovalAmount forgiven?

# add a column that calculates, for each business type,
# the percent of money loaned that has been forgiven
# ForgivenessAmount / CurrentApprovalAmount

df_erie_naics_agg['PctOfLoanForgiven'] = df_erie_naics_agg.apply(lambda row: ((row.ForgivenessAmount / 
                                  row.CurrentApprovalAmount) * 100), axis = 1).round()

df_erie_naics_agg.sort_values(by='PctOfLoanForgiven',ascending=False).head(10)

,NAICSCode,ProjectCountyName,JobsReported,CurrentApprovalAmount,ForgivenessAmount,PAYROLL_PROCEED,business_type,PctOfLoanForgiven
270,334111.0,1,25,457522.5,461370.70,457522.5,Electronic Computer Manufacturing,101.0
596,532283.0,2,193,2156700.0,2172737.67,2046786.0,Home Health Equipment Rental,101.0
579,525910.0,2,7,57881.0,58243.86,57881.0,Open-End Investment Funds,101.0
576,525110.0,3,24,261900.0,263454.48,253400.0,Pension Funds,101.0
574,524292.0,8,331,3281913.0,3300589.40,2931720.0,Third Party Administration of Insurance and Pe...,101.0
276,334412.0,1,71,704100.0,709380.75,704100.0,Bare Printed Circuit Board Manufacturing,101.0
279,334417.0,1,14,221402.0,223179.28,221402.0,Electronic Connector Manufacturing,101.0
289,334614.0,1,1,17652.0,17828.52,17652.0,"Software and Other Prerecorded Compact Disc, T...",101.0
144,321991.0,1,44,635600.0,641520.66,439938.0,Manufactured Home (Mobile Home) Manufacturing,101.0
294,335210.0,1,5,33322.5,33573.56,33322.5,Small Electrical Appliance Manufacturing,101.0

In [83]:
# Which business types in Erie County spent the most money per job?

# add a column that calculates, for each business type,
# the average amount of money from PAYROLL_PROCEED spent per job
# PAYROLL_PROCEED / JobsReported

df_erie_naics_agg['AvgPayrollSpentPerJob'] = df_erie_naics_agg.apply(lambda row: (row.PAYROLL_PROCEED / 
                                  row.JobsReported), axis = 1).round()

df_erie_naics_agg.sort_values(by='AvgPayrollSpentPerJob',ascending=False).head(10)

,NAICSCode,ProjectCountyName,JobsReported,CurrentApprovalAmount,ForgivenessAmount,PAYROLL_PROCEED,business_type,PctOfLoanForgiven,AvgPayrollSpentPerJob
482,481111.0,1,23,1168000.0,0.00,1168000.0,Scheduled Passenger Air Transportation,0.0,50783.0
312,336360.0,1,1,33956.0,0.00,33953.0,Motor Vehicle Seating and Interior Trim Manufa...,0.0,33953.0
34,115114.0,1,7,208397.0,194109.43,208397.0,Postharvest Crop Activities (except Cotton Gin...,93.0,29771.0
775,721310.0,1,1,29165.0,0.00,29165.0,"Rooming and Boarding Houses, Dormitories, and ...",0.0,29165.0
156,324191.0,1,5,145717.0,0.00,145714.0,Petroleum Lubricating Oil and Grease Manufactu...,0.0,29143.0
846,928120.0,1,1,28157.0,0.00,28156.0,International Affairs,0.0,28156.0
826,813930.0,7,34,915474.0,0.00,912337.0,Labor Unions and Similar Labor Organizations,0.0,26833.0
232,332911.0,3,20,521905.0,23050.76,521903.0,Industrial Valve Manufacturing,4.0,26095.0
202,331315.0,1,4,94424.0,95109.54,94424.0,"Aluminum Sheet, Plate, and Foil Manufacturing",101.0,23606.0
266,333994.0,1,75,1614162.0,0.00,1614160.0,Industrial Process Furnace and Oven Manufacturing,0.0,21522.0

In [84]:
# export df_erie_naics_agg -- with the new calculated columns -- as a .csv

df_erie_naics_agg.to_csv(r'erie_business_types_aggregated.csv')

In [53]:
# Which BorrowerNames in Erie County got the most money in loans?

df_erie.sort_values(by='InitialApprovalAmount',ascending=False).head(10)

# if we want to export the results, do this:
# df_loans_per_NAICS_erie.to_csv(r'df_loans_per_NAICS_erie.csv')

,LoanNumber,DateApproved,ProcessingMethod,BorrowerName,BorrowerAddress,BorrowerCity,BorrowerState,BorrowerZip,LoanStatusDate,LoanStatus,...,UTILITIES_PROCEED,PAYROLL_PROCEED,MORTGAGE_INTEREST_PROCEED,RENT_PROCEED,REFINANCE_EIDL_PROCEED,HEALTH_CARE_PROCEED,DEBT_INTEREST_PROCEED,NonProfit,ForgivenessAmount,ForgivenessDate
607204,1444897107,04/10/2020,PPP,"FERGUSON ELECTRIC CONSTRUCTION CO., INC.",333 ellicott street,BUFFALO,NY,14203-1618,0,Exemption 4,...,0.0,10000000.0,0.0,0.0,0.0,0.0,0.0,NaN,0.00,NaN
607304,9868008606,03/26/2021,PPP,ASPIRE OF WESTERN NEW YORK INC.,2356 N Forest Rd,Getzville,NY,14068-1224,0,Exemption 4,...,1.0,9999995.0,0.0,0.0,0.0,0.0,0.0,Y,0.00,NaN
2183045,4886247308,04/30/2020,PPP,KELLY COOLING AND HEATING,224 rosemont,Buffalo,NY,14217,0,Exemption 4,...,0.0,18200.0,0.0,0.0,0.0,0.0,0.0,NaN,0.00,NaN
607246,5358817107,04/13/2020,PPP,"BUFFALO MEDICAL GROUP, P.C.",325 Essjay Road,BUFFALO,NY,14221-5761,0,Exemption 4,...,0.0,10000000.0,0.0,0.0,0.0,0.0,0.0,NaN,0.00,NaN
607303,9792297804,06/09/2020,PPP,ERIE COUNTY MEDICAL CENTER CORPORATION,462 Grider Street,BUFFALO,NY,14215-3021,0,Exemption 4,...,0.0,10000000.0,0.0,0.0,0.0,0.0,0.0,Y,0.00,NaN
607253,5776448908,04/30/2021,PPP,PEOPLE INC,1219 N Forest Rd,Williamsville,NY,14221-3230,0,Exemption 4,...,1.0,9999994.0,0.0,0.0,0.0,0.0,0.0,Y,0.00,NaN
607353,8599587104,04/15/2020,PPP,"NEW ERA CAP CO.,INC.",160 DELAWARE AVE,BUFFALO,NY,14202-2404,0,Exemption 4,...,0.0,8386131.0,0.0,0.0,0.0,0.0,0.0,NaN,0.00,NaN
607362,9603997009,04/09/2020,PPP,"STEUBEN FOODS, INC.",1150 Maple Road,ELMA,NY,14059-9573,0,Exemption 4,...,0.0,8133700.0,0.0,0.0,0.0,0.0,0.0,NaN,0.00,NaN
607363,7501678602,03/23/2021,PPP,BAKER HALL,790 Ridge Rd,Lackawanna,NY,14218-1629,0,Exemption 4,...,1.0,8127491.0,0.0,0.0,0.0,0.0,0.0,Y,0.00,NaN
607382,2940967108,04/11/2020,PPP,"STARK HOLDINGS AMERICA, INC.",95 Stark St,TONAWANDA,NY,14150-1210,0,Exemption 4,...,0.0,7788300.0,0.0,0.0,0.0,0.0,0.0,NaN,7874291.37,05/26/2021

In [54]:
#How many loans were granted to LMI_yes (low- and moderate-income) 
#businesses in Erie County?
#How many loans were granted to LMI_no businesses?

df_erie.groupby(by='LMIIndicator').LMIIndicator.value_counts()

LMIIndicator  LMIIndicator
N             N               19401
Y             Y                6551
Name: LMIIndicator, dtype: int64

In [55]:
# How many JobsReported were there for 
#LMI_yes (low- and moderate-income) businesses in Erie County?

df_erie.groupby(by='LMIIndicator').JobsReported.sum()

LMIIndicator
N    238227
Y     68608
Name: JobsReported, dtype: int64